name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_run:
    workflows: ["**"]
    types:
      - completed

jobs:
  rerun_on_failure:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'failure'
    steps:
      - name: Re-run failed workflow
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh run rerun ${{ github.event.workflow_run.id }} --failed

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24.x

      - name: Test
        run: |
          go test -failfast ./tests/*.go

          UITESTS=true go test -failfast ./tests/server_test.go
